body {
    text-align: center;
    font-family: 'Lucida Sans';
    background-color: #fd473a80;
}

img {
    height: auto;
    width: 100vh;
}

.list-wrapper {
    list-style-position: inside;
}

.recipe-name {
    font-size: 20px;
}

.description {
    font-style: italic;
}